<section class="container p-5" id="cursos">

  <h1 class="mb-4 text-center fw-bold lh-sm mb-3">Mis Cursos</h1>
  <hr class="mb-5">

  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <img src="{{ url_for('static', filename='img/cursos/coderhouse.png') }}"  class="card-img-top" alt="ia - coderhouse">
              <div class="card-body">
                  <h5 class="card-title">Introducción a la inteligencia artificial - Coderhouse</h5>
                  <a href="https://www.coderhouse.com/ar/certificados/665a628b54a9dc5ad1739c26?lang=" class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <img src="{{ url_for('static', filename='img/cursos/devops.jpg') }}" class="card-img-top" alt="devops- udemy">
              <div class="card-body">
                  <h5 class="card-title">Devops - Udemy</h5>
                  <a href="https://www.udemy.com/certificate/UC-c8a972f6-7dba-4a95-9285-9b6f26503cee/" class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <img src="{{ url_for('static', filename='img/cursos/python.png') }}" class="card-img-top" alt="python - udemy">
              <div class="card-body">
                  <h5 class="card-title">Python - Coderhouse</h5>
                  <a href="enlace-del-curso-3" class="btn btn-primary disabled">Ver más</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card">
            <img src="{{ url_for('static', filename='img/cursos/arrgocd.jpg') }}" class="card-img-top" alt="Argo cd - Udemy">
            <div class="card-body">
                <h5 class="card-title">Argo cd  -  Udemy</h5>
                <a href="https://globant.udemy.com/certificate/UC-c06fd1b2-5f0e-4f01-9994-ef186c1de7d7/" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>
  </div>
</section>
