<section class="container p-5" id="tecnologias">
    <h2 class="text-center fw-bold">Tecnologias</h2>
    <hr class="mb-5">
  
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/argo.png') }}" alt="Imagen de Argo" class="img d-block mx-lg-auto img-fluid">
          <div class="card-body">
            <h5 class="card-title">Argo</h5>
            <p class="card-text">Argo es una herramienta para la orquestación de aplicaciones en Kubernetes. Permite definir y ejecutar flujos de trabajo complejos y automatizados.</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/helm.png') }}" alt="Imagen de Helm" class="img d-block mx-lg-auto img-fluid">
          <div class="card-body">
            <h5 class="card-title">Helm</h5>
            <p class="card-text">Helm es un gestor de paquetes para aplicaciones de Kubernetes. Facilita la instalación, actualización y gestión de aplicaciones en un clúster de Kubernetes.</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/k8s.png') }}"alt="Imagen de Kubernetes" class="img d-block mx-lg-auto img-fluid">
          <div class="card-body">
            <h5 class="card-title">Kubernetes</h5>
            <p class="card-text">Kubernetes es una plataforma de orquestación de contenedores que permite administrar y escalar aplicaciones en un entorno de contenedorizado.</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/python.jpg') }}"alt="Imagen de Python" class="img d-block mx-lg-auto img-fluid">
          <div class="card-body">
            <h5 class="card-title">Python</h5>
            <p class="card-text">Python es un lenguaje de programación versátil y de alto nivel. Es ampliamente utilizado en el desarrollo web, científico, de inteligencia artificial y más.</p>
          </div>
        </div>
      </div>
  
  
  
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/django.png') }}" alt="Imagen de Django" class="img d-block mx-lg-auto img-fluid">
          <div class="card-body">
            <h5 class="card-title">Django</h5>

            <p class="card-text">Django es un framework de desarrollo web de alto nivel y de código abierto, basado en Python. Permite construir aplicaciones web de manera rápida y segura.</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/github.png') }}" alt="Imagen de GitHub" class="img d-block mx-lg-auto img-fluid">
          <div class="card-body">
            <h5 class="card-title">GitHub</h5>
            <p class="card-text">GitHub es una plataforma de alojamiento y colaboración de código fuente. Permite a los desarrolladores trabajar juntos y realizar un seguimiento de los cambios en el código.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/maven.png') }}" alt="Imagen de Maven" class="img d-block mx-lg-auto img-fluid">
          <div class="card-body">
            <h5 class="card-title">Maven</h5>
            <p class="card-text">Maven es una herramienta de gestión de proyectos y automatización de construcción para Java, que facilita la compilación, pruebas y gestión de dependencias mediante un archivo XML (pom.xml)</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/docker.png') }}" alt="Imagen de Docker" class="img d-block mx-lg-auto img-fluid">
          <div class="card-body">
            <h5 class="card-title">Docker</h5>
            <p class="card-text">Docker es una plataforma que permite crear, desplegar y gestionar aplicaciones en contenedores, asegurando que se ejecuten de manera consistente en cualquier entorno.</p>
          </div>
        </div>
      </div>
    </div>
  </section>